[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Timur-ux/nvim-setup.git
	branch = main
[submodule "nix"]
	path = nix
	url = git@github.com:Timur-ux/nixos-config.git
	branch = master
